/* font-family: 'Nunito Sans', sans-serif;
font-family: 'Open Sans', sans-serif; */

body {
  background-color: #19191b;
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: auto;
  padding: 2% 0;
}

/* navbar styles start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  width: 10%;
}

.navbar__list {
  display: flex;
  list-style-type: none;
  width: 30%;
  justify-content: space-between;
  margin: 0;
  align-items: center;
  font-size: 18px;
}

.navbar__item > a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.8s;
}

.navbar__item > a:hover {
  color: #5454d4;
  transition: 0.8s;
}

.navbar__input {
  width: 15%;
  height: 30px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid white;
}
/* navbar styles end */

/* header styles start */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.header__block_left {
  width: 40%;
}

.header__title_left {
  font-family: 'Open Sans', sans-serif;
  font-size: 80px;
  line-height: 1;
  margin-bottom: 0;
  letter-spacing: 5px;
}

.header__desc_left {
  font-size: 21px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.7);
}

.header__btn {
  width: 35%;
  height: 60px;
  background: #5454d4;
  border: none;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  padding: 1%;
}

.btn__icon {
  margin-left: 8px;
}

.header__block_right {
  width: 50%;
  display: flex;
  justify-content: center;
  position: relative;
}

.vector {
  position: absolute;
}

#vector_1 {
  top: 124px;
  left: -81px;
}

#vector_2 {
  top: 77px;
  right: 54px;
}

#vector_3 {
  left: -130px;
  bottom: 10px;
}

#vector_4 {
  right: 40px;
  bottom: 54px;
}
/* header styles end */
